#extension-candleappstore-icon{
  display: inline-block;
  width: 3rem;
  height: 2rem;
  background-image: url('../images/menu-icon.svg');
  background-size: contain;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 0;
}

#extension-candleappstore-title{
	text-align:left;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size:1.8rem;
    margin: 0 auto;
    display: block;
    padding: 1rem;
    padding-left: 3.8rem;
    font-size: 1.8rem;
    background-size: 2.8rem;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url('../images/menu-icon.svg');
	width:16rem;
	margin:0 auto;
}

/*
#extension-candleappstore-title #extension-candleappstore-tutorial-button{
	opacity:0;
	cursor:pointer;
	vertical-align: super;
	font-size:60%;
	padding:.5rem;
}
#extension-candleappstore-title:hover #extension-candleappstore-tutorial-button{
	opacity:1;
}
*/


.extension-candleappstore-visible{
   display:block;
}
.extension-candleappstore-hidden{
   display:none;
}

.extension-candleappstore-button{
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    margin: 1rem 0;
    cursor:pointer;
}



#extension-candleappstore-view button{
	font-size: 1.6rem;
	padding: 1rem 2rem;
	border: none;
}
#extension-candleappstore-view button:focus{
    outline: none;
}

#extension-candleappstore-view a{
	color:white;
	font-weight:bold;
}

.extension-candleappstore-italic{
	font-style:italic;
}


/*  DELETE  */


.extension-candleappstore-item-delete-button{
	background: url(/images/delete-button.png);
    background-size: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 1px solid #979797;
    cursor: pointer;
	display:inline-block;
	opacity:.5;
}

.extension-candleappstore-item-delete-button:hover{
	opacity:1;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.extension-candleappstore-select-satellites-question,
.extension-candleappstore-item{
	padding: 0;
	display: flex;
	background-color: #46769C;
	border-radius:.5rem;
	margin-top:1rem;
	border-radius: .5rem;
	position: relative;
	width:100%;
}

.extension-candleappstore-item{
	margin-top: 4rem;
    width:33.3%;
    min-width:10rem;
    padding:2rem;
    box-sizing: border-box;
    cursor:pointer;
}
.extension-candleappstore-item:hover{
    box-shadow: inset 0rem -1rem white;
}

.extension-candleappstore-item:first-of-type{
    min-height:10rem;
    padding:4rem;
    font-size:3rem;
    width:100%;
}

.extension-candleappstore-item:nth-child(2),
.extension-candleappstore-item:nth-child(3){
    min-height:8rem;
    padding:3rem;
    font-size:2.5rem;
    width:50%;
}


.extension-candleappstore-basic-name{
    font-weight:bold;
}
.extension-candleappstore-basic-description{
}

.extension-candleappstore-basic-options{
    margin-left:1rem;
}

.extension-candleappstore-item-left{
	margin-bottom: 2rem;
}

.extension-candleappstore-item-setter{
	color:white;
	font-size: 1.8rem;
	/*border-right: 1px solid rgba(255,255,255,.3);*/
	width:100%;
	padding:2rem;
	overflow: hidden;
	display:flex;
	flex-wrap:wrap;
}
.extension-candleappstore-item-right{
	text-align:center;
}


/*  SELECTED  */

#extension-candleappstore-selected{
    display:none;
    z-index:20;
    box-shadow:3rem 3rem black;
    position:fixed;
    height:calc(100vh - 18rem);
    overflow:auto;
    top:9rem;
    left:9rem;
    right:9rem;
    bottom:9rem;
    background-color:#666;
    padding:2rem;
}

#extension-candleappstore-selected.installed .extension-candleappstore-install-button{
    display:none;
}

#extension-candleappstore-selected-close-container{
    padding:1rem;
    width:3rem;
    height:3rem;
    border-radius:50%;
    display:flex;
    background-color:green;
    cursor:pointer;
    float:right;
}


#extension-candleappstore-server-list{
	width:calc(100% - 8rem);
}

#extension-candleappstore-server-list-toggle{
	border-left: 1px solid rgba(255,255,255,.3);
}

#extension-candleappstore-view .rule-switch{
	padding-right:0;
}


.extension-candleappstore-item-menu{
    display:none;
	/*display: flex;*/
	flex-direction:column;
	/*justify-content:space-around;*/
	padding:2rem;
}


#extension-candleappstore-view .extension-candleappstore-limit{
	width: 8rem;
	font-size: 1.8rem;
	padding:.5rem 1rem;
	margin: .5rem;
	background-color: #4d8bb7;
	color:white;
}


.extension-candleappstore-item-setter > span{
	display:inline-block;
}


#extension-candleappstore-list{
	width:auto;
	display:flex;
	flex-wrap:wrap;
}


#extension-candleappstore-original-item{
	opacity:.3;
	display:none;
}


#extension-candleappstore-view select{
	display: inline-block;
	font-size: 1.8rem;
	color:white;
	line-height: 1.3;
	padding:.5rem 1rem;
	border-radius: 0.5rem;
	box-sizing: border-box;
	margin: .5rem;
	border: none;
	background-color: #4d8bb7;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url(/images/select-arrow.svg);
	background-repeat: no-repeat;
	background-size: 1.25rem;
	background-position: calc(100% - 1rem);
	padding-right: 3.5rem;
}

#main-menu #extension-candleappstore-menu-item {
  	background-image: url('../images/menu-icon.svg');
}

#extension-candleappstore-view {
  	height: 100%; /*calc(100% - 7.6rem);*/
  	box-sizing: border-box;
	overflow: auto;
	position: absolute;
	top: 7.6rem;
	left: 0;
	padding: 2rem;
}


#extension-candleappstore-content {
	display:flex;
	flex-direction: column;
	flex-direction: column;
	overflow: auto;
  	position: relative;
  	text-align: left;
  	font-size: 1.6rem;
  	color: #fff;
	height:auto;
}

#extension-candleappstore-content img{
	max-width:100%;
}

.extension-candleappstore-response-data{
	text-align:center;
}


/*  TABS  */


.extension-candleappstore-tab-buttons{
	margin-top: 4rem;
	background-color: rgba(255,255,255,.1);
	border-radius: .7rem;
	overflow: hidden;
	font-size:0;
}

#extension-candleappstore-view .extension-candleappstore-tab-buttons button{
	background-color: transparent;
	border-right: 1px solid rgba(0,0,0,.05);
	color: #eee;
	cursor:pointer;
	font-size:1.8rem;
}
#extension-candleappstore-view .extension-candleappstore-tab-buttons button:last-child{
	float:right;
}

#extension-candleappstore-view .extension-candleappstore-tab-buttons button:hover{
	background-color: rgba(0,0,0,0.1);
	color:white;
}



#extension-candleappstore-tabs-container > div{
	display:none;
}

#extension-candleappstore-content.extension-candleappstore-show-tab-timers #extension-candleappstore-tab-button-timers,
#extension-candleappstore-content.extension-candleappstore-show-tab-satellites #extension-candleappstore-tab-button-satellites,
#extension-candleappstore-content.extension-candleappstore-show-tab-tutorial #extension-candleappstore-tab-button-tutorial{
	color: white;
    background-color: rgba(0,0,0,0.18);
}
#extension-candleappstore-content.extension-candleappstore-show-tab-timers #extension-candleappstore-tab-timers,
#extension-candleappstore-content.extension-candleappstore-show-tab-satellites #extension-candleappstore-tab-satellites,
#extension-candleappstore-content.extension-candleappstore-show-tab-tutorial #extension-candleappstore-tab-tutorial{
	display:block;
}




/*  blocklist  */


#extension-candleappstore-blocklist{
    
}

#extension-candleappstore-blocklist > div{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    width:100%;
    border-bottom: 1px dashed rgba(255,255,255,.15);
}



/*  Countdown & abort */

#extension-candleappstore-countdown{
    background-color:rgba(255,0,0,.5);
    padding:2rem;
    margin:2rem 0;
}




.extension-candleappstore-centered-error,
.extension-candleappstore-centered-page{
	padding:2rem;
	max-width:60rem;
	margin: 4rem auto;
}

.extension-candleappstore-centered-error{
	text-align:center;
}

.extension-candleappstore-centered-page{
	border-bottom:1px solid rgba(255,255,255,.3);
}


.extension-candleappstore-type{
	width:4rem;
	height:4rem;
	background-repeat:no-repeat;
	background-position:center;
}


.extension-candleappstore-radio-select-item,
.extension-candleappstore-vendor,
.extension-candleappstore-ip,
.extension-candleappstore-mac:not(:empty){
	background-color:rgba(255,255,255,.07);
	border-radius:.5rem;
	padding:1rem 1.5rem;
	margin:1rem 1rem 1rem 0;
	display:inline-block;
}

.extension-candleappstore-vendor:empty{
    display:none;
}

.extension-candleappstore-radio-select-item{
	width:100%;
	display:block;
	box-sizing: border-box;
}


.extension-candleappstore-radio-select-item span{
	margin-left:1rem;
}

.extension-candleappstore-line2,
.extension-candleappstore-line3{
	display:flex;
	flex-wrap:wrap;
	/*justify-content:space-between;*/
	width:100%;
}

.extension-candleappstore-line2 > div{
	width:100%;
}

.extension-candleappstore-line4{
    text-align:right;
}




.extension-candleappstore-thing:not(:empty):after{
	content:' → ';
}

.extension-candleappstore-nicename{
	width:100%;
    min-width: 160px;
    font-size:3rem;
    /*font-style: italic;*/
    padding-bottom: 2rem;
    opacity: .8;
    flex-grow: 1;
    padding: 1rem 2rem 1rem 0;
    box-sizing: border-box;
    border-radius: .5rem;
}

.extension-candleappstore-nicename:first-letter{
  text-transform: capitalize
}


.extension-candleappstore-icon{
    display:none;
	width:4rem;
	height:4rem;
	margin-right:2rem;
	margin-bottom:1rem;
	background-size:3rem;
	background-position:center;
	background-repeat:no-repeat;
	flex-shrink: 0;
}

.extension-candleappstore-type-timer .extension-candleappstore-icon{
	background-image:url('../images/timer.svg');
}

.extension-candleappstore-type-alarm .extension-candleappstore-icon{
	background-image:url('../images/alarm.svg');
}

.extension-candleappstore-type-wake .extension-candleappstore-icon{
	background-image:url('../images/wake.svg');
}

.extension-candleappstore-type-reminder .extension-candleappstore-icon{
	background-image:url('../images/reminder.svg');
}

.extension-candleappstore-type-countdown .extension-candleappstore-icon{
	background-image:url('../images/countdown.svg');
}

.extension-candleappstore-type-actuator .extension-candleappstore-icon{
	background-image:url('../images/actuator.svg');
}

.extension-candleappstore-type-value .extension-candleappstore-icon{
	background-image:url('../images/value.svg');
}

.extension-candleappstore-month:after{
	content:' ';
}
.extension-candleappstore-day:after{
	content:' ';
}

.extension-candleappstore-hours-to-go:after{
	content:'h ';
}

.extension-candleappstore-hours:after{
	content:':';
}

.extension-candleappstore-minutes-to-go:after{
	content:'m ';
}

.extension-candleappstore-seconds-to-go:after{
	content:'s ';
}


.extension-candleappstore-time > div{
	display:inline-block;
}

.extension-candleappstore-time > div:first-of-type{
	font-weight:bold;
}

.extension-candleappstore-date{
	margin-right:1rem;
}

.extension-candleappstore-short-time{
	display: inline-block;
}

.extension-candleappstore-time-to-go{
	font-style:italic;
	margin-left:4rem;
}

.extension-candleappstore-to-go{
}




#extension-candleappstore-original-domain-item{
    display:none;
}


.extension-candleappstore-domains{
    background-color: rgba(0,0,0,.07);
    padding:1rem;
    width:100%;
    margin-top:2rem;
}

.extension-candleappstore-domains:empty{
    display:none;
}

.extension-candleappstore-domains:empty + button{
    display:none;
}

.extension-candleappstore-domains:not(:empty)::before{
    content:"Attempted connections";
    font-size:2.2rem;
    width:100%;
    padding:2rem 1rem;
    display: inline-block;
}



/*
.extension-candleappstore-domains h4{
    margin-left:1rem;
}
*/

.extension-candleappstore-domains > div{
    border-radius:1rem;
    margin-bottom:1rem;
}

.extension-candleappstore-domains > div:not(:last-child){
    border-bottom: 1px dashed rgba(255,255,255,.15);
}


.extension-candleappstore-domain-item{
    width:100%;    
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}

.extension-candleappstore-domain-info{
    display:flex;
    align-items:center;
    justify-content:flex-start;
}
.extension-candleappstore-domain-info > div{
    padding:1rem;
    /*flex-grow:1;*/
}


.extension-candleappstore-domain-options{
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.extension-candleappstore-domain-count{
    opacity:.8;
    background-color:rgba(0,0,0,.1);
    border-radius:1rem;
}
.extension-candleappstore-domain-count::after{
    content:"✕";
    margin-left:.3rem;
}


.extension-candleappstore-privacy-warning{
    padding:1rem;
    font-style:italic;
    margin-top:0;
}


/*     satellites   */

.extension-candleappstore-select-satellites{
	display:none;
}

/*
.extension-candleappstore-potential-satellite .extension-candleappstore-no-satellites{
	display:none;
}
.extension-candleappstore-potential-satellite .extension-candleappstore-select-satellites{
	display:block;
}


#extension-candleappstore-loading{
	text-align:center;
	padding:2rem;
}

.extension-candleappstore-select-satellites-question{
	display:flex;
	justify-content:space-between;
}

.extension-candleappstore-select-satellites-question > div{
	padding:2rem;
}

.extension-candleappstore-switch-slider{
	cursor:pointer;
}

#extension-candleappstore-content input[type="radio"]{
	padding:1rem;
}
*/


@media screen and (min-width: 641px) {
	.extension-candleappstore-line2{
		width:auto;
		/*margin-left:6rem;*/
	}
	.extension-candleappstore-nicename{
		width: calc(100% - 6rem);
	}
	.extension-candleappstore-line2 > div{
		width:auto;
		min-width: 200px;
	}
	.extension-candleappstore-time{
		margin-right:1rem;
	}
}


@media screen and (min-width: 1025px) {
	#extension-candleappstore-view{
		left:9.6rem;
		top: 0;
		height:100vh; 
		position:absolute;
		width: calc(100% - 9.6rem);
		padding-right:9.6rem;
	}
	
	#extension-candleappstore-content-container{
		height:auto;
		width: calc(100% - 3rem);
	}
	
	/*
	.extension-candleappstore-item{
		width: calc(50% - 4rem);
		margin-left: 2rem;
		margin-right: 2rem;
	}
	*/
	
}


