<div id="extension-candleappstore-content">
    
    
    <div id="extension-candleappstore-content-container">
        <h3 id="extension-candleappstore-title">Candle App Store</h3>
        <div id="extension-candleappstore-auth-state-container"><div><span id="extension-candleappstore-check-login-button">login</span> <span id="extension-candleappstore-logout"><span id="extension-candleappstore-username"></span><span id="extension-candleappstore-logout-button">logout</span></span></div></div>

        <!--
		<div id="extension-candleappstore-countdown" class="extension-candleappstore-hidden">
			<h2>The candleappstore will launch in <span id="extension-candleappstore-countdown-seconds">...</span> seconds.</h2>
            <p>If this addon is somehow causing issues, you can abort it starting (and/or disable it in your <a href="/settings/addons">addons overview</a>).</p>
			<button id="extension-candleappstore-abort-button" class="extension-candleappstore-button">Abort launch</button> <button id="extension-candleappstore-launch-button" class="extension-candleappstore-button">Launch now</button> <span id="extension-candleappstore-abort-message"></span>
		</div>
		-->
		
		<div class="extension-candleappstore-tab-buttons">
            <button id="extension-candleappstore-tab-button-installed" class="extension-candleappstore-main-tab-button extension-candleappstore-tab-selected">Installed</button>
            <button id="extension-candleappstore-tab-button-updates" class="extension-candleappstore-main-tab-button extension-candleappstore-hidden">Updates</button>
            <button id="extension-candleappstore-tab-button-shop" class="extension-candleappstore-main-tab-button extension-candleappstore-hidden">Shop</button>
            <button id="extension-candleappstore-tab-button-help" class="extension-candleappstore-main-tab-button">?</button>
        </div>
		
		<div id="extension-candleappstore-tabs-container">
			
			<div id="extension-candleappstore-tab-installed" class="extension-candleappstore-tab">
				<div id="extension-candleappstore-installed" class="extension-candleappstore-centered-page">
                    <h2>Installed</h2>
					
					<div id="extension-candleappstore-installedlist">
                        <div class="extension-candleappstore-spinner">
                            <div></div><div></div><div></div><div></div>
                        </div>
					</div>
					
				</div>

			</div>
            
            
            
            
            <div id="extension-candleappstore-tab-updates" class="extension-candleappstore-tab extension-candleappstore-hidden">
                <div id="extension-candleappstore-updates" class="extension-candleappstore-centered-page">
                    <h2>Updates</h2>
                    <!--<p>There are new versions available of these addons:</p> -->
					<div id="extension-candleappstore-updates-list">
                        <div class="extension-candleappstore-spinner">
                            <div></div><div></div><div></div><div></div>
                        </div>
					</div>
                </div>
            </div>
            
            
            
            
            
			<div id="extension-candleappstore-tab-shop" class="extension-candleappstore-tab extension-candleappstore-hidden">
				
                <div id="extension-candleappstore-filter-container">
                    
                    <div id="extension-candleappstore-filter-privacy-container">
                        <span>Privacy</span>
                        <select id="extension-candleappstore-filter-privacy-select">
                            <option value="4">Great</option>
                            <option value="3" selected>Ok</option>
                            <option value="0">All</option>
                        </select>
                    </div>
                    
                    <div id="extension-candleappstore-filter-reviews-container">
                        <span>Reviews</span>
                        <select id="extension-candleappstore-filter-reviews-select">
                            <option value="4">4+</option>
                            <option value="3">3+</option>
                            <option value="2">2+</option>
                            <option value="1">1+</option>
                            <option value="0" selected>All</option>
                        </select>
                    </div>
                    
                    <div id="extension-candleappstore-filter-expert-container">
                        <span>Expert level</span>
                        <select id="extension-candleappstore-filter-expert-select">
                            <option value="1">Easy</option>
                            <option value="2" selected>Tinkerer</option>
                            <option value="3">Expert</option>
                            <option value="4">Hardcore</option>
                            <option value="5">Beta testers</option>
                        </select>
                    </div>
                    
                </div>
                
				<div id="extension-candleappstore-list">
                    <div class="extension-candleappstore-spinner">
                        <div></div><div></div><div></div><div></div>
                    </div>
				</div>
                
                <div class="extension-candleappstore-bottom-button-container">
                    <!--<button id="extension-candleappstore-refresh-button" class="extension-candleappstore-button">refresh</button>-->
                </div>
                
                <div id="extension-candleappstore-original-item" class="extension-candleappstore-item">
			        <div class="extension-candleappstore-basic-info">
                        <div class="extension-candleappstore-basic-name"></div>
                        <div class="extension-candleappstore-basic-description"></div>
                    </div>
                    <div>
                        <div class="extension-candleappstore-basic-options">
                        </div>
                    </div>
                </div>
                
			</div>

			
			


			<div id="extension-candleappstore-tab-help" class="extension-candleappstore-tab extension-candleappstore-hidden">
				<div id="extension-candleappstore-help" class="extension-candleappstore-centered-page">
					<h2>How to use Candle App Store</h2>
					<p>You can add additional functionality to this smart home controller by installing 'addons'. You can think of them as apps for your smart home. They are made by people all over the world, often in their spare time.</p>
                    <p>Some might need to connect to the cloud. Some addons might requires a higher technical skill level to use. As the code for these addons is likely to be open source, if you want to you can inspect what goes on under the hood.</p>
                    
                    <p>After installing a new addon you might want to look at its settings.</p>
                    
                    <h4>Recommendations</h4>
					<ul>
						<li>It is highly recommended to plug in a network cable while using this addon.</li>
                    </ul>
                    
                    <h4>Advantages</h4>
					<ul>
						<li>You can learn about all the connections that wifi devices make. You may be shocked to learn how they behave.</li>
						<li>If someone steals your doorbell they may learn your wifi password. In this case, they'll only have the password to this separate network.</li>
					</ul>
                    
                    <h4>Limitations</h4>
                    <p>The wireless chip in your raspberry Pi is much less powerful than those found in dedicated wireless routers. Because of this there are some limitations to be aware of.</p>
					<ul>
						<li>If you are using Candleappstore without a network cable, then there is less bandwidth available, since what's available has to be shared in two directions (to the real router, and to the connected devices).</li>
						<li>You can't connect as many devices. If you want to connect multiple devices that require a lot of data transmission, such as network video cameras, then you may want to setup your real router to create a secondary network instead.</li>
					</ul>

				</div>
			</div>
            
            
		</div>
        
        
        
        
        
        
        
        <div id="extension-candleappstore-settings" class="extension-candleappstore-overlay">
            <!--<div id="extension-candleappstore-settings-close-container">X</div>-->
            <div id="extension-candleappstore-settings-close-container" class="back-button icon-button" data-l10n-id="back-button" aria-label="Back"></div>
            <div class="extension-candleappstore-centered-page">
                <h2><span id="extension-candleappstore-settings-title"></span> settings</h2>
                <div id="extension-candleappstore-settings-form">
                </div>
                <div id="extension-candleappstore-advanced-settings-form-container">
                    <h3>Advanced settings</h3>
                    <div id="extension-candleappstore-advanced-settings-form">
                    </div>
                </div>
                <div id="extension-candleappstore-settings-options" class="extension-candleappstore-options">
                </div>
            </div>
        </div>
        
        
        <div id="extension-candleappstore-permissions" class="extension-candleappstore-popup">
            <!--<div id="extension-candleappstore-settings-close-container">X</div>-->
            <div id="extension-candleappstore-permissions-close-container" class="back-button icon-button" data-l10n-id="back-button" aria-label="Back"></div>
            <div class="extension-candleappstore-centered-page">
                <p><span id="extension-candleappstore-permissions-title">This app</span> would like permission to read the state of and toggle your devices. Is that ok?</p>
                <div id="extension-candleappstore-permissions-options" class="extension-candleappstore-options">
                    <button>No</button> <button>Read only</button> <button>Read and toggle</button>
                </div>
            </div>
        </div>
        
        <!--
        <div id="extension-candleappstore-busy-updating" class="extension-candleappstore-popup">
            
            <div id="extension-candleappstore-updating-close-container" class="back-button icon-button" data-l10n-id="back-button" aria-label="Back"></div>
            <div class="extension-candleappstore-centered-page">
                <p>Update in progress</p>
                <div class="extension-privacy-manager-spinner">
                    <div></div><div></div><div></div><div></div>
                </div>
            </div>
        </div>
        -->
        

        <div id="extension-candleappstore-selected" class="extension-candleappstore-overlay">
            <div id="extension-candleappstore-selected-close-container" class="back-button icon-button" data-l10n-id="back-button" aria-label="Back"></div>
            

            <div id="extension-candleappstore-selected-main" class="extension-candleappstore-centered-page">
                <div class="extension-candleappstore-selected-tags"></div>
                <h2 class="extension-candleappstore-selected-name"></h2>
                <span class="extension-candleappstore-selected-version-separated">
                    <span id="extension-candleappstore-selected-mayor_version" class="extension-candleappstore-selected-mayor_version"></span>.<span 
                          id="extension-candleappstore-selected-meso_version"  class="extension-candleappstore-selected-meso_version"></span>.<span 
                          id="extension-candleappstore-selected-minor_version" class="extension-candleappstore-selected-minor_version"></span>
                </span>
                <div id="extension-candleappstore-selected-by-container">
                    <a href="#" target="_blank" class="extension-candleappstore-selected-homepage_url extension-candleappstore-selected-author"><span class="extension-candleappstore-selected-by">by </span></a>
                </div>
                
                <div class="extension-candleappstore-selected-description"></div>
                <div id="extension-candleappstore-screenshots" class="extension-candleappstore-selected-screenshots"></div>
                <div class="extension-candleappstore-selected-details"></div>
                <div class="extension-candleappstore-selected-opinion"></div>
                
                
                <div class="extension-candleappstore-two-column">
        	        <div class="extension-candleappstore-basic-info extension-candleappstore-vlak">
                        

                        <div class="extension-candleappstore-selected-version" style="display:none"></div>
                        <div class="extension-candleappstore-selected-rating"></div>
                        <div id="extension-candleappstore-selected-risk" class="extension-candleappstore-selected-risk"></div>
                        
                        

                        <!--
                        <div class="extension-candleappstore-stars-rating">
                            <input type="radio" name="extension-candleappstore-rating-5" id="extension-candleappstore-stars-rating-5" class="extension-candleappstore-star">
                            <label for="extension-candleappstore-rating-5"></label>
                            <input type="radio" name="extension-candleappstore-rating-5" id="extension-candleappstore-stars-rating-4" class="extension-candleappstore-star">
                            <label for="extension-candleappstore-rating-4"></label>
                            <input type="radio" name="extension-candleappstore-rating-5" id="extension-candleappstore-stars-rating-3" class="extension-candleappstore-star">
                            <label for="extension-candleappstore-rating-3"></label>
                            <input type="radio" name="extension-candleappstore-rating-5" id="extension-candleappstore-stars-rating-2" class="extension-candleappstore-star">
                            <label for="extension-candleappstore-rating-2"></label>
                            <input type="radio" name="extension-candleappstore-rating-5" id="extension-candleappstore-stars-rating-1" class="extension-candleappstore-star">
                            <label for="extension-candleappstore-rating-1"></label>
                        </div>
                        -->
                    
                        
                        <a href="#" target="_blank" class="extension-candleappstore-selected-license_url">license</a>
                        <div class="extension-candleappstore-selected-privacy"></div>
                        <a target="_blank" class="extension-candleappstore-selected-policy_url">privacy policy</a>
                    </div>
                    <div class="extension-candleappstore-basic-sidebar extension-candleappstore-vlak">
                     
                        <div class="extension-candleappstore-histogram-container">
                          <div class="extension-candleappstore-histogram-inner">
                            <div class="extension-candleappstore-histogram-rating">
                              <span id="extension-candleappstore-histogram-average-rating" class="extension-candleappstore-histogram-rating-num"></span>
                          
                              <div id="extension-candleappstore-stars-container"><!-- stars here --></div>
                          
                          
                              <!--
                              <div class="extension-candleappstore-histogram-rating-stars">
                                <span><i class="extension-candleappstore-histogram-active extension-candleappstore-histogram-icon-star">☆</i></span>
                                <span><i class="extension-candleappstore-histogram-active extension-candleappstore-histogram-icon-star">☆</i></span>
                                <span><i class="extension-candleappstore-histogram-active extension-candleappstore-histogram-icon-star">☆</i></span>
                                <span><i class="extension-candleappstore-histogram-active extension-candleappstore-histogram-icon-star">☆</i></span>
                                <span><i class="extension-candleappstore-histogram-icon-star">☆</i></span>
                              </div>
                              -->
                              
                              <div class="extension-candleappstore-histogram-rating-users">
                                <i class="extension-candleappstore-histogram-icon-user"></i> <span id="extension-candleappstore-histogram-total-rating-count">0</span> reviews
                              </div>
                            </div>
    
                            <div class="extension-candleappstore-histogram-histo">
                              <div class="extension-candleappstore-histogram-five extension-candleappstore-histogram-histo-rate">
                                <span class="extension-candleappstore-histogram-histo-star">
                                  <i class="extension-candleappstore-histogram-active icon-star"></i> 5           </span>
                                <span class="extension-candleappstore-histogram-bar-block">
                                  <span id="extension-candleappstore-histogram-bar5" class="extension-candleappstore-histogram-bar">
                                    <span id="extension-candleappstore-histogram-rating-count5"></span>&nbsp;
                                  </span> 
                                </span>
                              </div>
      
                              <div class="extension-candleappstore-histogram-four extension-candleappstore-histogram-histo-rate">
                                <span class="extension-candleappstore-histogram-histo-star">
                                  <i class="extension-candleappstore-histogram-active icon-star"></i> 4           </span>
                                <span class="extension-candleappstore-histogram-bar-block">
                                  <span id="extension-candleappstore-histogram-bar4" class="extension-candleappstore-histogram-bar">
                                    <span id="extension-candleappstore-histogram-rating-count4"></span>&nbsp;
                                  </span> 
                                </span>
                              </div> 
      
                              <div class="extension-candleappstore-histogram-three extension-candleappstore-histogram-histo-rate">
                                <span class="extension-candleappstore-histogram-histo-star">
                                  <i class="extension-candleappstore-histogram-active icon-star"></i> 3           </span>
                                <span class="extension-candleappstore-histogram-bar-block">
                                  <span id="extension-candleappstore-histogram-bar3" class="extension-candleappstore-histogram-bar">
                                    <span id="extension-candleappstore-histogram-rating-count3"></span>&nbsp;
                                  </span> 
                                </span>
                              </div>
      
                              <div class="extension-candleappstore-histogram-two extension-candleappstore-histogram-histo-rate">
                                <span class="extension-candleappstore-histogram-histo-star">
                                  <i class="extension-candleappstore-histogram-active extension-candleappstore-histogram-icon-star"></i> 2           </span>
                                <span class="extension-candleappstore-histogram-bar-block">
                                  <span id="extension-candleappstore-histogram-bar2" class="extension-candleappstore-histogram-bar">
                                    <span id="extension-candleappstore-histogram-rating-count2"></span>&nbsp;
                                  </span> 
                                </span>
                              </div>
      
                              <div class="extension-candleappstore-histogram-one extension-candleappstore-histogram-histo-rate">
                                <span class="extension-candleappstore-histogram-histo-star">
                                  <i class="extension-candleappstore-histogram-active icon-star"></i> 1           </span>
                                <span class="extension-candleappstore-histogram-bar-block">
                                  <span id="extension-candleappstore-histogram-bar1" class="extension-candleappstore-histogram-bar">
                                    <span id="extension-candleappstore-histogram-rating-count1"></span>&nbsp;
                                  </span> 
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                    </div>
                </div>
                
                <h3 id="extension-candleappstore-selected-reviews-title">Reviews</h3>
                
                
                <div id="extension-candleappstore-reviews-container">
                    <div id="extension-candleappstore-reviews-list">There are no reviews yet. Be the first!</div>
                </div>
                <div id="extension-candleappstore-review-container" class="extension-candleappstore-vlak">
                    
                    <div class="extension-candleappstore-two-column">
                        <div>General rating</div>
                        <!--
                        <div id="extension-candleappstore-stars-rating" class="extension-candleappstore-stars-rating">
                            <input type="radio" name="extension-candleappstore-rating-1" id="extension-candleappstore-stars-rating-5" class="extension-candleappstore-star">
                            <label for="extension-candleappstore-rating-1"></label>
                            <input type="radio" name="extension-candleappstore-rating-2" id="extension-candleappstore-stars-rating-4" class="extension-candleappstore-star">
                            <label for="extension-candleappstore-rating-2"></label>
                            <input type="radio" name="extension-candleappstore-rating-3" id="extension-candleappstore-stars-rating-3" class="extension-candleappstore-star">
                            <label for="extension-candleappstore-rating-3"></label
                            <input type="radio" name="extension-candleappstore-rating-4" id="extension-candleappstore-stars-rating-2" class="extension-candleappstore-star">
                            <label for="extension-candleappstore-rating-4"></label>
                            <input type="radio" name="extension-candleappstore-rating-5" id="extension-candleappstore-stars-rating-1" class="extension-candleappstore-star">
                            <label for="extension-candleappstore-rating-5"></label>
                        </div>
                        -->
                        <div>
                            <select id="extension-candleappstore-rating-select">
                                <option value="-1" selected>Please select</option>
                                <option value="5">5. Love it</option>
                                <option value="4">4. Happy with it</option>
                                <option value="3">3. Works, could be improved</option>
                                <option value="2">2. Works most of the time</option>
                                <option value="1">1. Worked, but crashed</option>
                                <option value="0">0. Doesn't work for me</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="extension-candleappstore-two-column">
                        <div>Recommended skill level</div>
                        <div>
                            <select id="extension-candleappstore-risk-select">
                                <option value="-1" selected>Please select</option>
                                <option value="10">6. For beta testers</option>
                                <option value="8">5. Very nerdy.</option>
                                <option value="6">4. Tech knowledge or API key required</option>
                                <option value="4">3. Some tinkering required</option>
                                <option value="2">2. Requires simple setup</option>
                                <option value="0">1. Perfect for beginners</option>
                            </select>
                        </div>
                    </div>
                    
                    <textarea id="extension-candleappstore-review-text" placeholder="How would you review this addon? Do you recommend it?"></textarea>
                    <div class="extension-candleappstore-options">
                        <button id="extension-candleappstore-review-save-button" class="extension-candleappstore-button">Send review</button> 
                        <button id="extension-candleappstore-review-cancel-button" class="extension-candleappstore-button">Cancel</button>
                    </div>
                    <div id="extension-candleappstore-review-response" class="extension-candleappstore-italic"></div>
                    
                </div>
                <div id="extension-candleappstore-review-complete" class="extension-candleappstore-italic extension-candleappstore-vlak">
                </div>
                
                <div id="extension-candleappstore-review-tip" class="extension-candleappstore-italic extension-candleappstore-vlak">
                    <p>Have you tried using it?</p>
                    <button id="extension-candleappstore-show-review-button" class="extension-candleappstore-button">Add review</button>
                </div>
                
                
                <div id="extension-candleappstore-selected-options" class="extension-candleappstore-options">
                </div>
                <div id="extension-candleappstore-busy-installing">
                    <div class="extension-privacy-manager-spinner">
                        <div></div><div></div><div></div><div></div>
                    </div>
                </div>
                <!--
                <div class="extension-candleappstore-versions">
                    <p>All recent versions</p>
                    <div class="extension-candleappstore-versions-list">
                    </div>
                </div>
                -->
            </div>
            
            
            <div id="extension-candleappstore-selected-post-install" class="extension-candleappstore-centered-page">
                
                <h2>Your new addon has installed succesfully</h2>
                <p>Most addons need to be provided with additional information before they will function properly.</p>
                
                <div id="extension-candleappstore-post-install-settings-button-container" class="extension-candleappstore-options">
                    <!--<button id="extension-candleappstore-post-install-settings-button" class="extension-candleappstore-button">View addon settings</button>-->
                </div>
                
            </div>
            
        </div>
        
        
        
        <div id="extension-candleappstore-original-review-item" class="extension-candleappstore-review-item">
	        <div class="extension-candleappstore-review-item-info">
                <div class="extension-candleappstore-review-item-meta">
                    <div class="extension-candleappstore-review-item-rating">rating: </div>
                    <div class="extension-candleappstore-review-item-risk">risk: </div>
                    <div class="extension-candleappstore-review-item-version-separated">
                        Version 
                        <span class="extension-candleappstore-review-item-mayor_version"></span>.<span 
                              class="extension-candleappstore-review-item-meso_version"></span>.<span 
                              class="extension-candleappstore-review-item-minor_version"></span>
                    </div>
                </div>
                <div class="extension-candleappstore-review-item-review"></div>
            </div>
            <div class="extension-candleappstore-review-item-options"></div>
        </div>
        
        
        
        <div id="extension-candleappstore-auth" class="extension-candleappstore-overlay">
            <div id="extension-candleappstore-auth-close-container" class="back-button icon-button" data-l10n-id="back-button" aria-label="Back"></div>
            <div class="extension-candleappstore-centered-page">
            
                <p id="extension-candleappstore-auth-intro"></p>
            
                <div id="extension-candleappstore-auth-login-form">

                    <h2>App Store Login</h2>
                    <div class="extension-candleappstore-auth-form-group"> 
                        <label for="extension-candleappstore-login-email">Email</label> 
                        <input type="email" id="extension-candleappstore-login-email" name="extension-candleappstore-login-email" autocomplete="off">    
                    </div>

                    <div class="extension-candleappstore-auth-form-group"> 
                        <label for="extension-candleappstore-login-password">Password</label> 
                        <input type="password" class="extension-candleappstore-auth-form-password" id="extension-candleappstore-login-password" name="extension-candleappstore-login-password" autocomplete="off" > 
                    </div>
                    <div class="extension-candleappstore-align-right">
                        <button id="extension-candleappstore-forgot-button" class="extension-candleappstore-button">Forgot my password</button>
                        <button id="extension-candleappstore-login-button" class="extension-candleappstore-button">Login</button>
                    </div>
            
                    <div id="extension-candleappstore-show-signup-button-container">
                        <p>If you don't have an app store account, you can create one. This will allow you to rate and comment on addons.</p>
                        <button id="extension-candleappstore-show-signup-button" class="extension-candleappstore-button">Sign up</button>
                    </div>
                
                </div>
            
            
                <div id="extension-candleappstore-auth-signup-form">
                
                    <h2>Sign up</h2>
                    <p>To create an account you must verify an email address.</p>
                
                    <!--
                    <div class="extension-candleappstore-auth-form-group">
                        <label for="username">Username</label> 
                    <input type="text" id="extension-candleappstore-signup-username" name="username" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">    
                    </div>
                    -->

                    <div class="extension-candleappstore-auth-form-group">
                        <label for="extension-candleappstore-signup-email">Email</label> 
                        <input type="email" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*" id="extension-candleappstore-signup-email" name="extension-candleappstore-signup-email">    
                    </div>

                    <div class="extension-candleappstore-auth-form-group">
                        <label for="extension-candleappstore-signup-password">Password</label> 
                        <input type="password" id="extension-candleappstore-signup-password" name="extension-candleappstore-signup-password"> 
                    </div>

                    <div class="extension-candleappstore-auth-form-group">
                        <label for="extension-candleappstore-signup-cpassword">Confirm Password</label> 
                        <input type="password" id="extension-candleappstore-signup-cpassword" name="extension-candleappstore-signup-cpassword">
                    </div>
                    
                    <div class="extension-candleappstore-auth-form-group">
                        <label for="username">What is 9 + 2?</label> 
                        <input type="text" id="extension-candleappstore-signup-check" name="check">    
                    </div>
                
                    <div class="extension-candleappstore-auth-form-group extension-candleappstore-auth-form-beta-group">
                        <label for="extension-candleappstore-signup-beta">Join developer program</label> 
                        <input type="checkbox" id="extension-candleappstore-signup-beta" name="extension-candleappstore-signup-beta">
                        <p class="extension-candleappstore-italic">Joining the developer program will give you access to addons which may still be in early development. By signing up you agree to the risks of being at the cutting edge.</p>
                    </div>
                    

                    <div id="extension-candleappstore-github-username-container" class="extension-candleappstore-auth-form-group">
                        <label for="extension-candleappstore-github-username">Github username</label> 
                        <input type="text" id="extension-candleappstore-github-username" name="extension-candleappstore-github-username">
                        <p class="extension-candleappstore-italic">If you are an app developer, sharing your Github username will allow you to take control over how you addons are presented.</p>
                    </div>
                    


                    
                    <div class="extension-candleappstore-align-right">
                        <button id="extension-candleappstore-signup-button" class="extension-candleappstore-button">Sign up</button>
                    </div>
                    
                </div>
            
                <div id="extension-candleappstore-auth-verify-form">

                    <h2>Verify</h2>
                    <p>You have been sent an email with a verification code. Please enter that code here:</p>
                    <div class="extension-candleappstore-auth-form-group"> 
                        <label for="email">Verification code</label> 
                        <input type="text" id="extension-candleappstore-verify-code" name="verify-code" autocomplete="off">    
                    </div>

                    <button id="extension-candleappstore-verify-button" class="extension-candleappstore-button">I am a human</button>
                </div>
            
                <div id="extension-candleappstore-auth-response"></div>
            
            </div>
        </div>
        
        
        <br/>
        <br/>

        <div id="extension-candleappstore-response">
            <p id="extension-candleappstore-response-data" class="extension-candleappstore-centered-error"></p>
        </div>
        <br/>

    </div>
    
</div>





